* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(at left top, rgb(192, 132, 252), rgb(209, 213, 219), rgb(165, 243, 252));
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.github {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: #0A0942;
  display: flex;
  align-items: center;
  padding: 16px;
  transition: all .25s ease-in-out;
  text-decoration: none;
}

.github:hover {
  opacity: .5;
}

.github .author {
  padding-left: 8px;
}

video {
  visibility: hidden;
}
